body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.container{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:10px;
border-radius:6px;
border:none;
}

button{
padding:10px;
background:#22c55e;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}